# Estruras de Dados


Vamos ver nesse notebook algumas outras estruturas de dados importantes no R, tais como lista, DataFrame e Factor.

## Lista

Lista é uma estrutura de dados que nos permite ter dados de tipos distintos.

Lembre-se que vetor possui todos elementos do mesmo tipo e portanto é chamado de vetor atômico, já vetores tendo tipos disntios são chamados de lista.

In [1]:
x = list("a"=2.5,"b"= TRUE)
x$a

[1] 2.5

In [2]:
x$b

[1] TRUE

In [3]:
typeof(x)

[1] "list"

In [4]:
length(x)

[1] 2

### Criando Listas

Listas podem ser criadas com a função ```list()```.

In [5]:
 x = list("a" = 2.5, "b" = TRUE, "c" = 1:3); x

$a
[1] 2.5

$b
[1] TRUE

$c
[1] 1 2 3

No exemplo, a, b, c são chamados de tags e facilitam a referência a componentes da lista. Todavia, são opcionais.

In [6]:
x <- list(2.5, TRUE, 1:3); x

[[1]]
[1] 2.5

[[2]]
[1] TRUE

[[3]]
[1] 1 2 3

In [7]:
x[[1]]

[1] 2.5

In [8]:
pessoa = list("idade"=27, "nome"="josep lima")
pessoa$idade

[1] 27

In [9]:
pessoa[c(1,2)]

$idade
[1] 27

$nome
[1] "josep lima"

In [10]:
pessoa[c("idade", "nome")]

$idade
[1] 27

$nome
[1] "josep lima"

In [11]:
pessoa[-2]

$idade
[1] 27

In [12]:
pessoa[1:2]

$idade
[1] 27

$nome
[1] "josep lima"

In [13]:
typeof(pessoa[1])

[1] "list"

In [14]:
typeof(pessoa["idade"])

[1] "list"

In [15]:
typeof(pessoa[[1]])

[1] "double"

In [16]:
typeof(pessoa[["idade"]])

[1] "double"

### Modificando a Lista

In [17]:
pessoa[["nome"]] = "José Lima"; pessoa

$idade
[1] 27

$nome
[1] "José Lima"

In [18]:
pessoa[["casado"]] = FALSE; pessoa

$idade
[1] 27

$nome
[1] "José Lima"

$casado
[1] FALSE

In [19]:
pessoa[["idade"]] = NULL; str(pessoa)

List of 2
 $ nome  : chr "José Lima"
 $ casado: logi FALSE

In [20]:
pessoa$casado = NULL; str(pessoa)

List of 1
 $ nome: chr "José Lima"

## Data Frame

Data frame é uma estrutura de dados bidimensional em R. É uma caso especial de uma lista que possui componponentes de tamanho iguais. Cada compontent forma uma coluna.

In [21]:
x = data.frame("id"=1:2, "idade"= c(32, 21)); x

  id idade
1 1  32
2 2  21

In [22]:
typeof(x)

[1] "list"

In [23]:
class(x)

[1] "data.frame"

### Funções do Data Frame

In [24]:
names(x)

[1] "id"    "idade"

In [25]:
ncol(x)

[1] 2

In [26]:
nrow(x)

[1] 2

In [27]:
length(x)

[1] 2

### Criando um Data Frame

In [28]:
x = data.frame("id" = 1:2, "idade" = c(21,15), "nome" = c("José Lima","Dória Silva")); str(x)

'data.frame':	2 obs. of  3 variables:
 $ id   : int  1 2
 $ idade: num  21 15
 $ nome : Factor w/ 2 levels "Dória Silva",..: 2 1

In [29]:
x = data.frame("id" = 1:2, "idade" = c(21,15), "nome" = c("José Lima","Dória Silva"), 
               stringsAsFactors=FALSE); str(x)

'data.frame':	2 obs. of  3 variables:
 $ id   : int  1 2
 $ idade: num  21 15
 $ nome : chr  "José Lima" "Dória Silva"

## Lidando com valores nulos

In [30]:
x = data.frame("id" = 1:2, "idade" = c(21, NA), "nome" = c("José Lima","Dória Silva")); str(x)

'data.frame':	2 obs. of  3 variables:
 $ id   : int  1 2
 $ idade: num  21 NA
 $ nome : Factor w/ 2 levels "Dória Silva",..: 2 1

In [31]:
mean(x[,'idade'])

[1] NA

In [32]:
mean(x[!is.na(x[,'idade']),'idade'])

[1] 21

In [33]:
x[is.na(x[,'idade']),'idade'] <- 30

In [34]:
x

  id idade nome
1 1  21    José Lima
2 2  30    Dória Silva

### Lendo Data Frame de um Arquivo CSV

In [35]:
df = read.csv("dados/iris-dataset.csv", header=FALSE); head(df)

  V1  V2  V3  V4  V5
1 5.1 3.5 1.4 0.2 Iris-setosa
2 4.9 3.0 1.4 0.2 Iris-setosa
3 4.7 3.2 1.3 0.2 Iris-setosa
4 4.6 3.1 1.5 0.2 Iris-setosa
5 5.0 3.6 1.4 0.2 Iris-setosa
6 5.4 3.9 1.7 0.4 Iris-setosa

In [36]:
tail(df)

    V1  V2  V3  V4  V5
145 6.7 3.3 5.7 2.5 Iris-virginica
146 6.7 3.0 5.2 2.3 Iris-virginica
147 6.3 2.5 5.0 1.9 Iris-virginica
148 6.5 3.0 5.2 2.0 Iris-virginica
149 6.2 3.4 5.4 2.3 Iris-virginica
150 5.9 3.0 5.1 1.8 Iris-virginica

In [37]:
summary(df)

       V1              V2              V3              V4
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.054   Mean   :3.759   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
               V5
 Iris-setosa    :50
 Iris-versicolor:50
 Iris-virginica :50

In [38]:
colnames(df) = c("sepal_length", "sepal_width", "petal_length", "sepal_width", "species")
head(df)

  sepal_length sepal_width petal_length sepal_width species
1 5.1          3.5         1.4          0.2         Iris-setosa
2 4.9          3.0         1.4          0.2         Iris-setosa
3 4.7          3.2         1.3          0.2         Iris-setosa
4 4.6          3.1         1.5          0.2         Iris-setosa
5 5.0          3.6         1.4          0.2         Iris-setosa
6 5.4          3.9         1.7          0.4         Iris-setosa

### Indexação

#### Acessando como uma lista

In [39]:
head(df["sepal_length"])
typeof(df["sepal_length"])

  sepal_length
1 5.1
2 4.9
3 4.7
4 4.6
5 5.0
6 5.4

[1] "list"

In [40]:
df$sepal_length
typeof(df$sepal_length)

  [1] 5.1 4.9 4.7 4.6 5.0 5.4 4.6 5.0 4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 [19] 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.0 5.0 5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.0
 [37] 5.5 4.9 4.4 5.1 5.0 4.5 4.4 5.0 5.1 4.8 5.1 4.6 5.3 5.0 7.0 6.4 6.9 5.5
 [55] 6.5 5.7 6.3 4.9 6.6 5.2 5.0 5.9 6.0 6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 [73] 6.3 6.1 6.4 6.6 6.8 6.7 6.0 5.7 5.5 5.5 5.8 6.0 5.4 6.0 6.7 6.3 5.6 5.5
 [91] 5.5 6.1 5.8 5.0 5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
[109] 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.0 6.9 5.6 7.7 6.3 6.7 7.2
[127] 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.0 6.9 6.7 6.9 5.8 6.8
[145] 6.7 6.7 6.3 6.5 6.2 5.9

[1] "double"

In [41]:
df[["sepal_length"]]
typeof(df[["sepal_length"]])

  [1] 5.1 4.9 4.7 4.6 5.0 5.4 4.6 5.0 4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 [19] 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.0 5.0 5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.0
 [37] 5.5 4.9 4.4 5.1 5.0 4.5 4.4 5.0 5.1 4.8 5.1 4.6 5.3 5.0 7.0 6.4 6.9 5.5
 [55] 6.5 5.7 6.3 4.9 6.6 5.2 5.0 5.9 6.0 6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 [73] 6.3 6.1 6.4 6.6 6.8 6.7 6.0 5.7 5.5 5.5 5.8 6.0 5.4 6.0 6.7 6.3 5.6 5.5
 [91] 5.5 6.1 5.8 5.0 5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
[109] 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.0 6.9 5.6 7.7 6.3 6.7 7.2
[127] 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.0 6.9 6.7 6.9 5.8 6.8
[145] 6.7 6.7 6.3 6.5 6.2 5.9

[1] "double"

#### Acessando como uma Matriz

In [42]:
str(df)

'data.frame':	150 obs. of  5 variables:
 $ sepal_length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ sepal_width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ petal_length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ sepal_width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ species     : Factor w/ 3 levels "Iris-setosa",..: 1 1 1 1 1 1 1 1 1 1 ...

In [43]:
head(df, n = 10)

   sepal_length sepal_width petal_length sepal_width species
1  5.1          3.5         1.4          0.2         Iris-setosa
2  4.9          3.0         1.4          0.2         Iris-setosa
3  4.7          3.2         1.3          0.2         Iris-setosa
4  4.6          3.1         1.5          0.2         Iris-setosa
5  5.0          3.6         1.4          0.2         Iris-setosa
6  5.4          3.9         1.7          0.4         Iris-setosa
7  4.6          3.4         1.4          0.3         Iris-setosa
8  5.0          3.4         1.5          0.2         Iris-setosa
9  4.4          2.9         1.4          0.2         Iris-setosa
10 4.9          3.1         1.5          0.1         Iris-setosa

In [44]:
df[1:5,]

  sepal_length sepal_width petal_length sepal_width species
1 5.1          3.5         1.4          0.2         Iris-setosa
2 4.9          3.0         1.4          0.2         Iris-setosa
3 4.7          3.2         1.3          0.2         Iris-setosa
4 4.6          3.1         1.5          0.2         Iris-setosa
5 5.0          3.6         1.4          0.2         Iris-setosa

In [45]:
df[df$sepal_length < 5.0,]

    sepal_length sepal_width petal_length sepal_width species
2   4.9          3.0         1.4          0.2         Iris-setosa
3   4.7          3.2         1.3          0.2         Iris-setosa
4   4.6          3.1         1.5          0.2         Iris-setosa
7   4.6          3.4         1.4          0.3         Iris-setosa
9   4.4          2.9         1.4          0.2         Iris-setosa
10  4.9          3.1         1.5          0.1         Iris-setosa
12  4.8          3.4         1.6          0.2         Iris-setosa
13  4.8          3.0         1.4          0.1         Iris-setosa
14  4.3          3.0         1.1          0.1         Iris-setosa
23  4.6          3.6         1.0          0.2         Iris-setosa
25  4.8          3.4         1.9          0.2         Iris-setosa
30  4.7          3.2         1.6          0.2         Iris-setosa
31  4.8          3.1         1.6          0.2         Iris-setosa
35  4.9          3.1         1.5          0.1         Iris-setosa
38  4.9          3.1         1.5          0.1         Iris-setosa
39  4.4          3.0         1.3          0.2         Iris-setosa
42  4.5          2.3         1.3          0.3         Iris-setosa
43  4.4          3.2         1.3          0.2         Iris-setosa
46  4.8          3.0         1.4          0.3         Iris-setosa
48  4.6          3.2         1.4          0.2         Iris-setosa
58  4.9          2.4         3.3          1.0         Iris-versicolor
107 4.9          2.5         4.5          1.7         Iris-virginica

In [46]:
df[1:3, 2]

[1] 3.5 3.0 3.2

In [47]:
df[1:3, 2, drop = FALSE]

  sepal_width
1 3.5
2 3.0
3 3.2

In [48]:
head(df, n = 1)
df[1, "petal_length"] = 2; head(df, n = 1)

  sepal_length sepal_width petal_length sepal_width species
1 5.1          3.5         1.4          0.2         Iris-setosa

  sepal_length sepal_width petal_length sepal_width species
1 5.1          3.5         2            0.2         Iris-setosa

### Adcionando componentes

In [49]:
rbind(list(5.06, 3.6, 1.0, 0.25, "Iris-setosa"),df)
head(df)

    sepal_length sepal_width petal_length sepal_width species
2   5.06         3.6         1.0          0.25        Iris-setosa
210 5.10         3.5         2.0          0.20        Iris-setosa
3   4.90         3.0         1.4          0.20        Iris-setosa
4   4.70         3.2         1.3          0.20        Iris-setosa
5   4.60         3.1         1.5          0.20        Iris-setosa
6   5.00         3.6         1.4          0.20        Iris-setosa
7   5.40         3.9         1.7          0.40        Iris-setosa
8   4.60         3.4         1.4          0.30        Iris-setosa
9   5.00         3.4         1.5          0.20        Iris-setosa
10  4.40         2.9         1.4          0.20        Iris-setosa
11  4.90         3.1         1.5          0.10        Iris-setosa
12  5.40         3.7         1.5          0.20        Iris-setosa
13  4.80         3.4         1.6          0.20        Iris-setosa
14  4.80         3.0         1.4          0.10        Iris-setosa
15  4.30         3.0         1.1          0.10        Iris-setosa
16  5.80         4.0         1.2          0.20        Iris-setosa
17  5.70         4.4         1.5          0.40        Iris-setosa
18  5.40         3.9         1.3          0.40        Iris-setosa
19  5.10         3.5         1.4          0.30        Iris-setosa
20  5.70         3.8         1.7          0.30        Iris-setosa
21  5.10         3.8         1.5          0.30        Iris-setosa
22  5.40         3.4         1.7          0.20        Iris-setosa
23  5.10         3.7         1.5          0.40        Iris-setosa
24  4.60         3.6         1.0          0.20        Iris-setosa
25  5.10         3.3         1.7          0.50        Iris-setosa
26  4.80         3.4         1.9          0.20        Iris-setosa
27  5.00         3.0         1.6          0.20        Iris-setosa
28  5.00         3.4         1.6          0.40        Iris-setosa
29  5.20         3.5         1.5          0.20        Iris-setosa
30  5.20         3.4         1.4          0.20        Iris-setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
122 6.9          3.2         5.7          2.3         Iris-virginica
123 5.6          2.8         4.9          2.0         Iris-virginica
124 7.7          2.8         6.7          2.0         Iris-virginica
125 6.3          2.7         4.9          1.8         Iris-virginica
126 6.7          3.3         5.7          2.1         Iris-virginica
127 7.2          3.2         6.0          1.8         Iris-virginica
128 6.2          2.8         4.8          1.8         Iris-virginica
129 6.1          3.0         4.9          1.8         Iris-virginica
130 6.4          2.8         5.6          2.1         Iris-virginica
131 7.2          3.0         5.8          1.6         Iris-virginica
132 7.4          2.8         6.1          1.9         Iris-virginica
133 7.9          3.8         6.4          2.0         Iris-virginica
134 6.4          2.8         5.6          2.2         Iris-virginica
135 6.3          2.8         5.1          1.5         Iris-virginica
136 6.1          2.6         5.6          1.4         Iris-virginica
137 7.7          3.0         6.1          2.3         Iris-virginica
138 6.3          3.4         5.6          2.4         Iris-virginica
139 6.4          3.1         5.5          1.8         Iris-virginica
140 6.0          3.0         4.8          1.8         Iris-virginica
141 6.9          3.1         5.4          2.1         Iris-virginica
142 6.7          3.1         5.6          2.4         Iris-virginica
143 6.9          3.1         5.1          2.3         Iris-virginica
144 5.8          2.7         5.1          1.9         Iris-virginica
145 6.8          3.2         5.9          2.3         Iris-virginica
146 6.7          3.3         5.7          2.5         Iris-virginica
147 6.7          3.0         5.2          2.3         Iris-virginica
148 6.3          2.5         5.0          1.9         Iris-virginica
149 6.5          3.0         5.2          2.0         Iris-virginica
150 6.2          3.4         5.4          2.3         Iris-virginica
151 5.9          3.0         5.1          1.8         Iris-virginica

  sepal_length sepal_width petal_length sepal_width species
1 5.1          3.5         2.0          0.2         Iris-setosa
2 4.9          3.0         1.4          0.2         Iris-setosa
3 4.7          3.2         1.3          0.2         Iris-setosa
4 4.6          3.1         1.5          0.2         Iris-setosa
5 5.0          3.6         1.4          0.2         Iris-setosa
6 5.4          3.9         1.7          0.4         Iris-setosa

In [50]:
df$novo <- "a"
head(df)

  sepal_length sepal_width petal_length sepal_width species     novo
1 5.1          3.5         2.0          0.2         Iris-setosa a
2 4.9          3.0         1.4          0.2         Iris-setosa a
3 4.7          3.2         1.3          0.2         Iris-setosa a
4 4.6          3.1         1.5          0.2         Iris-setosa a
5 5.0          3.6         1.4          0.2         Iris-setosa a
6 5.4          3.9         1.7          0.4         Iris-setosa a

#### Removendo componetentes

In [51]:
df$novo = NULL
tail(df)

    sepal_length sepal_width petal_length sepal_width species
145 6.7          3.3         5.7          2.5         Iris-virginica
146 6.7          3.0         5.2          2.3         Iris-virginica
147 6.3          2.5         5.0          1.9         Iris-virginica
148 6.5          3.0         5.2          2.0         Iris-virginica
149 6.2          3.4         5.4          2.3         Iris-virginica
150 5.9          3.0         5.1          1.8         Iris-virginica

## Factors

Fatores são utilizados para representar valores categóricos, onde as opções são finitas. Por exemplo, estado civil, genêro, entre outros.

In [52]:
estado.civil = factor(c("solteiro", "viúvo", "casado", "solteiro"))
estado.civil

[1] solteiro viúvo    casado   solteiro
Levels: casado solteiro viúvo

In [53]:
class(estado.civil)

levels(estado.civil)

[1] "factor"

[1] "casado"   "solteiro" "viúvo"

### Criando Factors

In [54]:
estado.civil = factor(c("solteiro", "viúvo", "casado", "solteiro"))

str(estado.civil)

 Factor w/ 3 levels "casado","solteiro",..: 2 3 1 2

### Indexação

In [55]:
estado.civil[3]

[1] casado
Levels: casado solteiro viúvo

In [56]:
estado.civil[c(2,4)]

[1] viúvo    solteiro
Levels: casado solteiro viúvo

In [57]:
estado.civil[-1]

[1] viúvo    casado   solteiro
Levels: casado solteiro viúvo

In [58]:
estado.civil[c(TRUE, FALSE, FALSE, TRUE)]

[1] solteiro solteiro
Levels: casado solteiro viúvo

### Modificando um Factor

In [59]:
estado.civil[2] = "solteiro"; estado.civil

[1] solteiro solteiro casado   solteiro
Levels: casado solteiro viúvo

In [60]:
estado.civil[2] = "divorciado"; estado.civil

Warning message in `[<-.factor`(`*tmp*`, 2, value = "divorciado"):
“invalid factor level, NA generated”

[1] solteiro <NA>     casado   solteiro
Levels: casado solteiro viúvo

In [61]:
levels(estado.civil) = c(levels(estado.civil), "divorciado")
estado.civil[2] = "divorciado"
estado.civil

[1] solteiro   divorciado casado     solteiro
Levels: casado solteiro viúvo divorciado

## Agrupamento com Data Frames

In [62]:
aggregate(df$sepal_length, by=list(species=df$species), mean)

  species         x
1 Iris-setosa     5.006
2 Iris-versicolor 5.936
3 Iris-virginica  6.588

In [63]:
aggregate(df$sepal_length, by=list(species=df$species), sd)

  species         x
1 Iris-setosa     0.3524897
2 Iris-versicolor 0.5161711
3 Iris-virginica  0.6358796

In [64]:
aggregate(sepal_length ~ species, df, mean)

  species         sepal_length
1 Iris-setosa     5.006
2 Iris-versicolor 5.936
3 Iris-virginica  6.588

## Transformações

In [65]:
# eixo 1 a função recebe linha a linha
# vamos então transformar as colunas numéricas
# deixando seus valores numa escala entre 0 e 1
apply(df[,c('sepal_width', 'sepal_length')], 
      1, function(x) {(x - min(x)) / (max(x) - min(x))})

             [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12]
sepal_width  0    0    0    0    0    0    0    0    0    0     ⋯     0
sepal_length 1    1    1    1    1    1    1    1    1    1     ⋯     1
             [,13] [,14] [,15] [,16] [,17] [,18] [,19] [,20] [,21]
sepal_width  0     0     0     0     0     0     0     0     0
sepal_length 1     1     1     1     1     1     1     1     1

In [66]:
# eixo 2 a função recebe uma coluna inteira
# vamos então transformar as colunas numéricas
# deixando seus valores numa escala entre 0 e 1
apply(df[,c('sepal_width', 'sepal_length')], 
      2, function(x) {(x - min(x)) / (max(x) - min(x))})

      sepal_width sepal_length
 [1,] 0.6250000   0.22222222
 [2,] 0.4166667   0.16666667
 [3,] 0.5000000   0.11111111
 [4,] 0.4583333   0.08333333
 [5,] 0.6666667   0.19444444
 [6,] 0.7916667   0.30555556
 [7,] 0.5833333   0.08333333
 [8,] 0.5833333   0.19444444
 [9,] 0.3750000   0.02777778
[10,] 0.4583333   0.16666667
[11,] 0.7083333   0.30555556
[12,] 0.5833333   0.13888889
[13,] 0.4166667   0.13888889
[14,] 0.4166667   0.00000000
[15,] 0.8333333   0.41666667
[16,] 1.0000000   0.38888889
[17,] 0.7916667   0.30555556
[18,] 0.6250000   0.22222222
[19,] 0.7500000   0.38888889
[20,] 0.7500000   0.22222222
[21,] 0.5833333   0.30555556
[22,] 0.7083333   0.22222222
[23,] 0.6666667   0.08333333
[24,] 0.5416667   0.22222222
[25,] 0.5833333   0.13888889
[26,] 0.4166667   0.19444444
[27,] 0.5833333   0.19444444
[28,] 0.6250000   0.25000000
[29,] 0.5833333   0.25000000
[30,] 0.5000000   0.11111111
[31,] ⋮           ⋮
[32,] 0.5000000   0.7222222
[33,] 0.3333333   0.3611111
[34,] 0.3333333   0.9444444
[35,] 0.2916667   0.5555556
[36,] 0.5416667   0.6666667
[37,] 0.5000000   0.8055556
[38,] 0.3333333   0.5277778
[39,] 0.4166667   0.5000000
[40,] 0.3333333   0.5833333
[41,] 0.4166667   0.8055556
[42,] 0.3333333   0.8611111
[43,] 0.7500000   1.0000000
[44,] 0.3333333   0.5833333
[45,] 0.3333333   0.5555556
[46,] 0.2500000   0.5000000
[47,] 0.4166667   0.9444444
[48,] 0.5833333   0.5555556
[49,] 0.4583333   0.5833333
[50,] 0.4166667   0.4722222
[51,] 0.4583333   0.7222222
[52,] 0.4583333   0.6666667
[53,] 0.4583333   0.7222222
[54,] 0.2916667   0.4166667
[55,] 0.5000000   0.6944444
[56,] 0.5416667   0.6666667
[57,] 0.4166667   0.6666667
[58,] 0.2083333   0.5555556
[59,] 0.4166667   0.6111111
[60,] 0.5833333   0.5277778
[61,] 0.4166667   0.4444444

In [67]:
tapply(df$sepal_length, df$species, FUN=function(x) {(x - min(x)) / (max(x) - min(x))})

$`Iris-setosa`
 [1] 0.53333333 0.40000000 0.26666667 0.20000000 0.46666667 0.73333333
 [7] 0.20000000 0.46666667 0.06666667 0.40000000 0.73333333 0.33333333
[13] 0.33333333 0.00000000 1.00000000 0.93333333 0.73333333 0.53333333
[19] 0.93333333 0.53333333 0.73333333 0.53333333 0.20000000 0.53333333
[25] 0.33333333 0.46666667 0.46666667 0.60000000 0.60000000 0.26666667
[31] 0.33333333 0.73333333 0.60000000 0.80000000 0.40000000 0.46666667
[37] 0.80000000 0.40000000 0.06666667 0.53333333 0.46666667 0.13333333
[43] 0.06666667 0.46666667 0.53333333 0.33333333 0.53333333 0.20000000
[49] 0.66666667 0.46666667

$`Iris-versicolor`
 [1] 1.00000000 0.71428571 0.95238095 0.28571429 0.76190476 0.38095238
 [7] 0.66666667 0.00000000 0.80952381 0.14285714 0.04761905 0.47619048
[13] 0.52380952 0.57142857 0.33333333 0.85714286 0.33333333 0.42857143
[19] 0.61904762 0.33333333 0.47619048 0.57142857 0.66666667 0.57142857
[25] 0.71428571 0.80952381 0.90476190 0.85714286 0.52380952 0.38095238
[31] 0.28571429 0.28571429 0.42857143 0.52380952 0.23809524 0.52380952
[37] 0.85714286 0.66666667 0.33333333 0.28571429 0.28571429 0.57142857
[43] 0.42857143 0.04761905 0.33333333 0.38095238 0.38095238 0.61904762
[49] 0.09523810 0.38095238

$`Iris-virginica`
 [1] 0.4666667 0.3000000 0.7333333 0.4666667 0.5333333 0.9000000 0.0000000
 [8] 0.8000000 0.6000000 0.7666667 0.5333333 0.5000000 0.6333333 0.2666667
[15] 0.3000000 0.5000000 0.5333333 0.9333333 0.9333333 0.3666667 0.6666667
[22] 0.2333333 0.9333333 0.4666667 0.6000000 0.7666667 0.4333333 0.4000000
[29] 0.5000000 0.7666667 0.8333333 1.0000000 0.5000000 0.4666667 0.4000000
[36] 0.9333333 0.4666667 0.5000000 0.3666667 0.6666667 0.6000000 0.6666667
[43] 0.3000000 0.6333333 0.6000000 0.6000000 0.4666667 0.5333333 0.4333333
[50] 0.3333333

### Métodos de Mesclagem

| Método | SQL Join         
| :- |:--------:
| all.x | LEFT OUTER JOIN
| all.y | RIGHT OUTER JOIN
| all | FULL OUTER JOIN
| default | INNER JOIN

|  | 
| :- |:--------:
| ![left join](img_leftjoin.gif) | ![right join](img_rightjoin.gif) | ![outer join](img_fulljoin.gif) | ![inner join](img_innerjoin.gif) |

\**imagem tirada de (https://www.w3schools.com/sql/sql_join.asp)*

In [68]:
x = data.frame("id"=1:4, "idade"= c(32, 21, 30, 27)); x
y = data.frame("id"=3:6, "gender"= c("M", "F", "F", "M")); y

  id idade
1 1  32
2 2  21
3 3  30
4 4  27

  id gender
1 3  M
2 4  F
3 5  F
4 6  M

### Inner Join

In [69]:
merge(x, y, by="id")

  id idade gender
1 3  30    M
2 4  27    F

### Left join

In [70]:
merge(x, y, by="id", all.x = TRUE)

  id idade gender
1 1  32    NA
2 2  21    NA
3 3  30    M
4 4  27    F

### Right join

In [71]:
merge(x, y, by.x="id", by.y="id", all.y = TRUE)

  id idade gender
1 3  30    M
2 4  27    F
3 5  NA    F
4 6  NA    M

### Outer join

In [72]:
merge(x, y, by="id", all = TRUE)
?merge

  id idade gender
1 1  32    NA
2 2  21    NA
3 3  30    M
4 4  27    F
5 5  NA    F
6 6  NA    M